<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ft.document_organizer">

    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Document_organizer">
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DocDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CategoryDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SyncActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddNewDocActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddNewCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CategoryEditActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DocSearchActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AboutActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            tools:replace="android:authorities"
            android:authorities="${applicationId}.provider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>
</manifest>